<% content_for :javascripts do %>
	<script type="text/javascript">
		$(function(){
			$("#char_count").text(132 - $("#task_notes").val().length)

			$(window).keydown(function(event){				
			  switch (event.keyCode) {
				case 16: //when shift key is pressed
				  $("#task_submit").val("End Session");
				  $("#task_end_session").val("true");
				  break;
				default:
				  break;
			  }
			});
			$(window).keyup(function(event){
			  switch (event.keyCode) {
				case 16: //when shift key is pressed
				  $("#task_submit").val("Add and New");
				  $("#task_end_session").val(false);
				  break;
				default:
				  break;
			  }
			});
			$(window).keypress(function(event){
				count = $("#task_notes").val().length				
				$("#char_count").text(132 - count)
				
				//if count < 0, disable submit button
				if (count < 0) {
					console.log("I'm over the count limit")
					$("#task_submit").attr("disabled", true);
				}
			});
			
			$(".time").change(function () {
				// parse the time only if the time is provided
				if ($(this).val() != '') {
					d = Date.parse($(this).val()).toString('r');
					console.log(d)
					$(this).val(d)
				}
		    });
			
			
		})
	</script>
<% end %>

<div id="wrapper" class="span-24 last clearfix">
	<div id="name" class="span-15 append-1">
<h3><%= Date.today.to_s(:long)%></h3>		
		<% form_for(@task) do |f| %>
		  <%= f.error_messages %>
		  <p>
		    <%= f.label :notes, "What are you working on?" %> <span id="char_count">132</span><br />
		    <%= f.text_area :notes %>
		  </p>
		<div id="start_stop">
			<%= f.hidden_field :start, :class => 'time' %>
		</div>
		  <p>
			<%= f.submit 'Add and New', :class => 'submit_button' %>
			<%= f.hidden_field :end_session %>
			<%= f.hidden_field :user_id %>
		  </p>
		<% end %>	
		<div id="name">
			<%= render :partial => "task_list" %>
		</div>
	</div>	
	<div id="tags" class="span-8 last">
		<div id="logo">&nbsp;</div>
		<h3>Summary</h3>
		<table id="summary">
			<tr id="ptt">
				<td>PTT</td>
				<td>
				<%- time = Task.sum(:elapsed_time_in_seconds, :conditions => ["start > ?", Time.zone.today]) %>
				<%= format_seconds_as_hours_minutes(time) %></td>
			</tr>
			<% for tag in current_user.todays_tags %>
			<tr>
				<td>#<%= tag.name %></td>
				<td><%= format_seconds_as_hours_minutes(tag.elapsed_time_in_seconds.to_i) %></td>
			</tr>
			<% end %>
		</table>
	</div>	
</div>